<div class="row">
  <p>Welcome to the Angular store. Here you can browse through the products currently available.</p>
</div>
<div class="row">
  <div class=".col-md-3" ng-repeat="product in products">
    {{product.name}}
  </div>
</div>
<table class="table table-bordered">
  <tr class="well">
    <td colspan="4" class="text-right"><a href="#/cart" ng-disabled="cart.getTotalCount() === 1"> total items: {{cart.getTotalCount()}} prtice: {{cart.getTotalAmount() | currency}}</a></td>
  </tr>
  <tr ng-repeat="product in products">
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td>{{product.price}}</td>
    <td ng-click="addToCart(product)">Add to cart</td>
  </tr>
  <tr class="well">
    <td colspan="4" class="text-right"><a href="#/store"> total items: {{cart.getTotalCount()}} prtice: {{cart.getTotalAmount() | currency}}</a></td>
  </tr>
</table>
